<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDzpGYJHd_68SVrFj-aflmhqZ_OtXeNuw</string>
	<key>GCM_SENDER_ID</key>
	<string>531076052203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentEase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rent-ease-c777b</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-ease-c777b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531076052203:ios:3e69c46ecfbcd9e90bfaae</string>
</dict>
</plist>